openai
llama-index
llama-index-vector-stores-supabase
llama-index-retrievers-bm25
llama-index-llms-openai
rank-bm25
python-dotenv
streamlit
vecs
langfuse
openinference-instrumentation-llama-index
opentelemetry-sdk
opentelemetry-exporter-otlp-proto-http