openai
llama-index
llama-index-vector-stores-supabase
llama-index-retrievers-bm25
llama-index-llms-openai
rank-bm25
python-dotenv
streamlit
vecs
arize-phoenix-otel
openinference-instrumentation-llama-index
Authlib>=1.3.2